@tailwind base;

.gradient {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.bg-background {
  background: url("../public/assets/images/bg/bg04.png") no-repeat;
}

@tailwind components;
@tailwind utilities;
